/*button*/

$bili-btn--padding-x := 10px;
$bili-btn--padding-y := 20px;
$bili-btn--border-radius := 5px;

.bili-button
  position: relative;
  overflow: hidden;
  padding: 10px;
  border: 0px;
  border-radius: $bili-radius;
  transition: all 0.2s ease;
  background: transparent;
  color: #fff;
  cursor: pointer;
  &:disabled
    opacity $bili-disabled-opacity
    cursor: default
    pointer-events: none
  &.bili-radius
    border-radius: 50%

.bili-button-filled
  &:hover
    box-shadow: 0px 9px 28px -9px

&.bili-button-border
  padding: 9px;

&.bili-button-flat //type flat
  border: none !important

&.bili-button-border,
&.bili-button-flat
  &.isActive
    .bili-button--text,.bili-button--icon
      color: rgb(255, 255, 255) !important


for colorx, i in $bili-colors 
  .bili-button-{colorx}
    // type filled style
    &.bili-button-filled
      background: getColor(colorx) !important
      &:hover
        box-shadow: 0px 8px 25px -8px getColor(colorx)
    //type border & flat
    &.bili-button-border,
    &.bili-button-flat
      border: 1px solid getColor(colorx)
      background: transparent !important
      color: getColor(colorx)
      .bili-button--text
        &.isActive
          color: rgb(255, 255, 255) !important
      &:hover
        background: getColor(colorx, .08) !important