/* button */
.bili-button {
  position: relative;
  overflow: hidden;
  padding: 10px;
  border: 0px;
  border-radius: $bili-radius;
  transition: $bili-transition;
  background: transparent;
  color: #fff;
  cursor: pointer;

  &:disabled {
    opacity: $bili-disabled-opacity;
    cursor: default;
    pointer-events: none;
  }

  &.bili-radius {
    border-radius: 50%;
  }

  &.large {
    padding: 12px;
    font-size: 1em;
  }

  &.small {
    padding: 7px;
    font-size: 0.7em;
  }

  &:hover {
    transform: translate(0, -2px);
  }

  &:active {
    transform: translate(0, 0px);
  }
}

.bili-button--background {
  border-radius: 50%;
  width: 10px;
  position: absolute;
  height: 10px;
  z-index: 0;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  box-shadow: inset 0px 0px 60px 0px rgba(255, 255, 255, 0.5);
}

.bili-button--text {
  position: relative;
  display: inline-block;
}

.bili-button-filled {
  &:hover {
    box-shadow: 0px 9px 28px -9px;
  }
}

.bili-button-border {
  // padding: 9px;
}

.bili-button-flat { // type flat
  border: none !important;
}

.bili-button-border, .bili-button-flat {
  &.isActive {
    .bili-button--text {
      color: rgb(255, 255, 255) !important;
    }
  }
}

.bili-button-line {
  padding: 9px 10px;
  border-radius: 0px;
  overflow: visible;
  border-style: solid;

  &:hover {
    transform: translate(0, 0);

    .bili-button--text {
      transition: $bili-transition;
      transform: translate(0, 2px);
    }

    .bili-button-linex {
      width: 100%;
    }
  }

  .bili-button-linex {
    position: absolute;
    left: 0px;
    bottom: -2px;
    width: 0%;
    height: 2px;
    transition: $bili-transition;
  }
}

.bili-button-solid {
  padding: 10px;

  &:active {
    transform: translate(0, 3px);
    box-shadow: none !important;
  }
}

for colorx, i in $bili-colors {
  .bili-button-{colorx} {
    // type filled style
    &.bili-button-filled {
      background: getColor(colorx) !important;

      &:hover {
        box-shadow: 0px 8px 25px -8px getColor(colorx);
      }
    }

    // type border & flat
    &.bili-button-border, &.bili-button-flat {
      border: 1px solid getColor(colorx);
      background: transparent !important;
      color: getColor(colorx);

      .bili-button-backgroundx {
        background: getColor(colorx);
        box-shadow: inset 0px 0px 60px 0px getColor(colorx);
      }

      &:hover {
        background: getColor(colorx, 0.08) !important;
      }
    }

    &.bili-button-line { // type line
      color: getColor(colorx);
      border-color: getColor(colorx, 0.2);

      .bili-button-linex {
        background: getColor(colorx);
      }
    }

    &.bili-button-solid {
      background: getColor(colorx, 1);
      box-shadow: 0 -3px 0 0 rgba(0, 0, 0, 0.2) inset;
    }
  }
}