// colors
$accentColor = #505050
$textColor = #6d757a
$borderColor = #eaecef
$codeBgColor = #f5f7fb
$arrowBgColor = #ccc

// layout
$navbarHeight = 3rem
$sidebarWidth = 15rem
$contentWidth = 1200px

$MQNarrow = 959px
$MQMobile = 800px
$MQMobileNarrow = 419px

$background = #ffffff

* {
  box-sizing: border-box;
  outline:none
}
