
// $bili-theme-color := 0,161,214;
$bili-theme-color := 244,90,141;
$bili-warning-color := 255,71,87;
$bili-error-color := 30,30,30;
$bili-disable-color := 204,208,215;

$bili-theme-color-active := #fe8fa7;
$bili-background-color := #f2f3f5;

$bili-text-color := #6d757a;
$bili-text-active-color := #505050;

$bili-disabled-opacity := 0.5;

$bili-transition-duration  := .25s;
$bili-transition-delay  := 0s;
$bili-transition-timing  := ease;

$bili-radius := 6px;

// color
$bili-colors := {
  primary : $bili-theme-color,
  warning : $bili-warning-color,
  error : $bili-error-color,
  disbaled : $bili-disable-color
}